<%= form_for(flatmate) do |f| %>
  <% if flatmate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flatmate.errors.count, "error") %> prohibited this flatmate from being saved:</h2>

      <ul>
      <% flatmate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname, "Firstname" %></br>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname, "Lastname"%></br>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :image, "Photo"%></br>
    <%= f.file_field :image%>
  </div>

  <div class="field">
    <%= f.label :leaving_out, "Common leaving out time"%></br>
    <%= f.time_select :leaving_out %>
  </div>

  <div class="field">
    <%= f.label :ariiving, "Common arriving time"%></br>
    <%= f.time_select :ariiving %>
  </div>

  <div class="field">
    <%= f.label :duties, "Duties"%></br>
    <%= f.text_area :duties %>
  </div>

  <div class="field">
    <%= f.label :charges, "Sum of charges"%></br>
    <%= f.number_field :charges %>
  </div>

  <div class="actions"></br>
    <%= f.submit %>
  </div>
<% end %>
