<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @flatmate.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @flatmate.lastname %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @flatmate.image.url(:medium) %>
</p>

<p>
  <strong>Common leaving out time:</strong>
  <%= @flatmate.leaving_out %>
</p>

<p>
  <strong>Common arriving time:</strong>
  <%= @flatmate.ariiving %>
</p>

<p>
  <strong>Duties:</strong>
  <%= @flatmate.duties %>
</p>

<p>
  <strong>Sum of charges:</strong>
  <%= @flatmate.charges %>
</p>

<%= link_to 'Edit', edit_flatmate_path(@flatmate) %> |
<%= link_to 'Back', flatmates_path %>
